@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">AleaSim Casino</MudText>
        <MudSpacer />
        
        <AuthorizeView>
            <Authorized>
                <div class="d-flex align-center gap-4">
                    <MudChip T="string" Icon="@Icons.Material.Filled.Stars" Color="Color.Info">Level 12</MudChip>
                    <MudText Typo="Typo.h6" Color="Color.Success">$1,240.00</MudText>
                    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" AnchorOrigin="Origin.BottomRight">
                        <MudMenuItem Href="/profile">Profile</MudMenuItem>
                        <MudMenuItem OnClick="Logout">Logout</MudMenuItem>
                    </MudMenu>
                </div>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/login" Color="Color.Inherit">Login</MudButton>
                <MudButton Href="/register" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-2">Register</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4 pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {

    bool _drawerOpen = true;

    [Inject] IAuthService AuthService { get; set; } = default!;

    [Inject] NavigationManager Navigation { get; set; } = default!;



    void DrawerToggle()

    {

        _drawerOpen = !_drawerOpen;

    }



    private async Task Logout() {

        await AuthService.Logout();

        Navigation.NavigateTo("/");

    }

}
